altgraph==0.16.1
certifi==2018.10.15
Click==7.0
dis3==0.1.2
Flask==1.0.2
future==0.16.0
ItsDangerous==1.0.0
Jinja2==2.10
macholib==1.11
MarkupSafe==1.0
pefile==2018.8.8
PyInstaller==3.4
urllib2-file==0.2.1
Werkzeug==0.14.1
